{
  "scheduler": ["str",   "cos"],
  "LR"       : ["float", "0.05"],
  "eta_min"  : ["float", "0.0"],
  "epochs"   : ["int",   "1000"],
  "optim"    : ["str",   "SGD"],
  "w_decay"  : ["float", "0.0005"],
  "a_decay"  : ["float", "0.001"],
  "momentum" : ["float", "0.9"],
  "criterion": ["str",   "cross_entropy"],
  "batch_size": ["int",  "32"]
}